@import "tailwindcss";
@import "tw-animate-css";

/* Reset CSS*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  color: var(--color-main-black);
}

label {
  color: var(--color-main-black);
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/*Custom Styling*/
/*Custom Font*/
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

/*Custom Colors*/
@theme {
  --color-primary-col: #F94F46;
  --color-primary-accent: #fa281d;
  --color-primary-light: #fdd0ce;
  --color-secondary-col: #21A0AA;
  --color-secondary-accent: #106365;
  --color-secondary-light: #d4f4f7;
  --color-tertiary-col: #FFCF2D;
  --color-tertiary-accent: #ebb500;
  --color-tertiary-light: #FFF1E0;
  --color-main-black: #1e2939;
  --color-main-gray: #e5e7eb;
  --color-brown-col: #5C3200;
}

/*Animations*/
/*Modal Animations*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes modalSlideUp {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes modalSlideDown {
  from {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
  to {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
}

/* Review (Carousel) Animations */
@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-33.333%);
  }
  100% {
    transform: translateX(0);
  }
}

/*Loading CSS*/
@keyframes fadeOutBackground {
  0% {
    background-color: #B1CED0;
    opacity: 1;
  }
  100% {
    background-color: transparent;
    opacity: 0;
  }
}

@keyframes suck {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  25% {
    transform: scale(0.75);
    opacity: 0.75;
  }

  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }

  75% {
    transform: scale(0.25);
    opacity: 0.25;
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

/* Loading */
.loading {
  background-color: #B1CED0;
  transition: all 0.3s ease;
}

.loading.fade-out {
  animation: fadeOutBackground 1s ease-out forwards;
}

.loading-icon {
  animation: suck 0.2s ease-in forwards;
  animation-delay: 7.8s;
}

/* Modal CSS */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  animation: fadeIn 0.3s ease-out;
}

.pet-modal-container {
  display: flex;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 0.188rem solid #e5e7eb;
  justify-self: center;
  align-self: center;
  animation: modalSlideUp 0.3s ease-out;
}

.modal-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: #FFFFFF;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 0.188rem solid #e5e7eb;
  width: 26.5rem;
  max-width: 26.5rem;
  min-width: 20rem;
  justify-self: center;
  align-self: center;
  animation: modalSlideUp 0.3s ease-out;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .close-btn {
    color: var(--color-main-black);
    cursor: pointer;
    border-radius: 0.5rem;
  }

  .close-btn:hover {
    background-color: #f0f0f0;
    scale: 1.05;
  }

  button {
    min-width: 2rem;
    min-height: 2rem;
    justify-items: end;
  }
}

/* Modal Form */
.modal-form {
  display:flex;
  flex-direction: column;
  gap: 0.5rem;

  button {
    background-color: var(--color-primary-col);
    color: #FFFFFF;
    padding: 0.5rem;
    border-radius: 1.5rem;
    margin-top: 0.75rem;
    cursor: pointer;
  }

  button:hover {
    background-color: var(--color-primary-accent);
  }
}

.input-group-div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  width: 100%;

}

.input-group {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem;
  gap: 0.25rem;
  width: 100%;

  label {
    font-weight: 400;
  }

  textarea {
    height: 5rem;
    resize: none;
  }

  input, textarea {
    border: 0.125rem solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 0.5rem;
    font-size: 0.75rem;
    width: 100%;
  }
}

  .close-btn {
    color: var(--color-main-black);
    cursor: pointer;
    border-radius: 1.5rem;
  }

  .close-btn:hover {
    background-color: #f0f0f0;
  }

/* Navbar CSS */
.navbar {
  .icons {
    color: var(--color-main-black);
    font-size: 2rem;
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 0.5rem;
  }

  .icons:hover {
    color: var(--color-secondary-col);
  }
}

.nav-item {
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  color: var(--color-main-black);
}

.nav-item:hover {
  color: var(--color-secondary-accent);
}

/* Home CSS */
.section-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  
  .section-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    font-weight: 700;
    font-family: 'Inter', sans-serif;

    .icons {
      color: var(--color-main-black);
    }
  }
  
  p {
    text-align: center;
  }
}

.btn {
  background-color: var(--color-primary-col);
  color: #FFFFFF;
  padding: 0.75rem 1.5rem;
  border-radius: 1.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 1.75rem;
}

.btn:hover {
  background-color: var(--color-primary-accent);
}

/* Review (Carousel) CSS */

.carousel-left {
  animation: scroll-left 40s linear infinite;
}

.carousel-right {
  animation: scroll-right 40s linear infinite;
}

.carousel-row {
  display: flex;
  gap: 2rem;
  width: fit-content;
}

.carousel-row:hover .carousel-left,
.carousel-row:hover .carousel-right {
  animation-play-state: paused;
}


@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}
